{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="pcoded-content">
    <div class="card">
      <div class="card-header">
        <h2>
          Newspaper list
          <a href="{% url 'content:newspaper-create' %}" class="btn btn-outline-primary link-to-page">
            Create
          </a>
        </h2>
        <div class="select-custom">
          <form action="" method="get" class="form-inline">
            {{ newspaper_search|crispy }}
            <input type="image" id="image" alt="Submit" src="/static/image/searching.png" class="button-search">
          </form>
        </div>
      </div>

      <div class="card-body table-border-style">
        {% if newspaper_list %}
          <ul>
            {% for newspaper in newspaper_list %}
              <li>
                <a href="{% url "content:newspaper-detail" pk=newspaper.id %} ">{{ newspaper.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>There are no newspapers in content</p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
