{% extends "base.html" %}

{% block content %}
  <div class="pcoded-content">
    <div class="card">
      <div class="card-header">
        <h3>Delete redactor?</h3>
        <form action="" method="post">
          {% csrf_token %}
          <br>
          <input type="submit" value="Confirm" class="btn btn-outline-danger">
          <a href="{{ request.headers.referer }}" class="btn btn-outline-primary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
